{% extends "template.html" %}
{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('../static/img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">Web Development, Plymouth MN</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>Trust me to take care of your web development needs. I have the motivation needed to get your project done right, and I'll do it at a fair price.</p>
                <p>From a Blogs to Checkouts, I can get it done.</p>
                <p>Contact me today!</p>
            </div>
        </div>
    </div>

    <hr>

{% endblock %}