{% extends "template.html" %}
{% block content %}


    <!-- Custom CSS -->
    



<header class="intro-header" style="background-image: url('../static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Portfolio</h1>
                        <hr class="small">
                        <span class="subheading">Some examples of my work</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://www.litecoinprice.com" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            
                            </div>
                        </div>
                        <img src="../static/img/litecoin.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>LitecoinPrice</h4>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#http://www.bitcoindigest.com" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                               
                            </div>
                        </div>
                        <img src="../static/img/digest.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>BitcoinDigest</h4>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="http://dternyak.github.io" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                
                            </div>
                        </div>
                        <img src="../static/img/nile.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>BlueNile</h4>

                    </div>
                    
                </div>
            </div>
        </div>
    </section>

   

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>



</body>

</html>

{% endblock %}

